body {
    font-family: monospace;
    background-color: #111;
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
div {
    border-radius: 0 !important;
}

.graph {
    width: 100%;
    height: 100%;
    position: absolute;

}



.term {
    transition: width 0.5s ease, height 0.3s ease, opacity, 1s ease;
}

.htmlOverlays {
    position: absolute;
    z-index: 2000;
    pointer-events: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    transform-origin: top left;
}
.htmlOverlay {
    pointer-events: none;
    position: absolute;
}
.htmlOverlay * {
    pointer-events: all;
}
div.jsoneditor-readonly {
    color: orange !important;
}
div.jsoneditor {
    background-color: #999 !important;
    border: 0 !important;
}
